:root {
  --pp-red: #e53935;
  --pp-lightred: #fb5048;
  --pp-darkred: #cf1d21;

  --pp-blue: #1a237e;
  --pp-lightblue: #273691;
  --pp-darkblue: #100d6b;

  --pp-background: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: var(#44444444);
  background-color: var(--pp-background);

}

.color-blue {
  color: var(--pp-blue)
}

.color-red {
  color: var(--pp-red)
}